@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.name{
    color: #fff;
    padding: 60px;
    margin-right: 40px;
    font-size: xxx-large;
    font-family: cursive;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    height: 30vh;
    background-color: #000;
}

nav {
    height: 3rem;
    background-color: #222;
    width: 25rem;
    border-radius: 5px;
}

ul {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

a {
    font-family: Poppins;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
}

.link {
    position: relative;
    list-style: none;
    padding: 4px 0;
}

.link::after,
.link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.6s ease-in-out;
}

.link::after {
    top: 0;
    right: 0;
    transform-origin: right;

}

.link::before {
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.link:hover::after,
.link:hover::before {
    width: 100%;
}

/*----------------------------------------------HOME ----------------------------------*/
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    height: 30vh;
}
.todo {
    width: 100vh;
    padding: 15px;
    margin: 20px;
}
.insert{
    padding: 10px;
    margin: 10px ;
    border-radius: 5px;
    
}
.theList{
    background-color:#e8e8e8;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.task{

    height: 40px;
    margin: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid #000000 ;
    margin: 20px;
}
.delete{
    padding: 5px;
    border-color: #716e6e;
    border-radius: 5px;
    margin: 3px;
}
.update{
    padding: 5px;
    border-color: #716e6e;
    border-radius: 5px;
    margin: 3px;
}
.task-name{
    width: 50%;
    justify-content: center;
    float: left;
}
.buttons{
    width: auto;
    margin-left: 400px;
    justify-content: center;
}
.check{
    margin-right: 10px;
}
/*----------------------------------------------features--------------------------------------------*/
.fea-content{
    margin-top: 50px;
    width: 100%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}
.name-blak{
    color: #000;
    padding: 60px;
    margin-right: 40px;
    font-size: xxx-large;
    font-family: cursive;
}
p{
    font-family: cursive;
    font-size: xx-large;
    padding-bottom: 30px;
}
/*----------------------------------------------footer---------------------------------------------*/
.Footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    height: 50vh;
    background-color: #000;
    color: #fff;
    margin-top: 50px;
}
